<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto" style="width: 150px;">
        <h4>Wildlife tracker</h4>
    </div>
</div>

<div class="container">

    <b>Add animals</b>
    <form action="/sighting/animal" method="post" >
        <div class="mb-3">
            <label for="name" class="form-label">Animal name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-warning mt-3" >Add</button>
    </form>

</div>

{{> layout.hbs}}