<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto " style="width: 300px;">
        <h4 class="text-white font-weight-bold" >Wildlife-Tracker-App</h4>
    </div>
</div>

<div class="container">
    <div class="mx-auto" style="width: 400px;" >
    <b>Animal name</b>
    <form action="/sighting/animal" method="post" >
        <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-warning mt-3" >Add Animal</button>
    </form>
    </div>


</div>

{{> layout.hbs}}