<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto " style="width: 300px;">
        <h4 class="text-white font-weight-bold" >Wildlife-Tracker-App</h4>
    </div>
</div>

<div class="container">
    <p><b>Add a sighting</b></p>

    <form action="/new/sighting" method="post" >

        <p><b>Choose animal</b></p>


        <select class="form-select"  id="animal" name="animal">
            {{#each animals}}
                    <option name="animal" value={{name}}>{{name}}</option>
            {{/each}}
        </select>

        <p><b>Choose a location</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="loc" id="loc" value="location A">
            <label class="form-check-label" for="loc1">
                Location A
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="loc" id="loc" value="location B">
            <label class="form-check-label" for="loc2">
                Location B
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="loc" id="loc" value="location C">
            <label class="form-check-label" for="loc3">
                Location C
            </label>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Ranger name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-warning mt-3" >Add sighting</button>
    </form>

</div>

{{> layout.hbs}}