<b>Add animals</b>
<form action="/sighting" method="post" >
    <div class="mb-3">
        <label for="name" class="form-label">Animal name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <button type="submit" class="btn btn-warning mt-3" >Add</button>
</form>