<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto " style="width: 300px;">
        <h4 class="text-white font-weight-bold" >Wildlife-Tracker-App</h4>
    </div>
</div>

<div class="container">
     <div class="mx-auto" style="width: 400px;" >
    <b>Animal name</b>
    <form action="/sighting/endangered" method="post" >
        <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <b>Choose animal age</b> <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="age" id="age" value="newborn">
            <label class="form-check-label" for="age">
                newborn
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="age" id="age" value="young">
            <label class="form-check-label" for="age1">
                young
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="age" id="age" value="adult">
            <label class="form-check-label" for="age2">
                adult
            </label>
        </div>

        <b>Choose animal health</b> <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="health" id="health" value="healthy">
            <label class="form-check-label" for="health">
                Healthy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="health" id="health" value="ill">
            <label class="form-check-label" for="health1">
                Ill
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="health" id="health" value="okay">
            <label class="form-check-label" for="health2">
                okay
            </label>
        </div>

        <button type="submit" class="btn btn-warning mt-3" >Add animal</button>
    </form>
</div>
</div>



{{> layout.hbs}}