<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto" style="width: 150px;">
        <h4>Wildlife tracker</h4>
    </div>
</div>

<div class="container">
    <a href="animal/add">Add animal</a> <br>
    <a href="endangered-animal/add">Add endangered animal</a>
</div>


{{> layout.hbs}}