
<a href="animal/add">Add animal</a> <br>
<a href="endangered-animal/add">Add endangered animal</a>
<form action="/animal" method="post" >
    <div class="mb-3">
        <label for="name" class="form-label">Animal name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
</form>

{{> layout.hbs}}